@font-face {
    font-family: 'starwars';
    src: url(Heading-Pro-Bold-trial.ttf);
}

@font-face {
    font-family: 'starwars-';
    src: url(stjedise/STJEDISE.TTF);
}

*{
    padding: 0%;
    margin: 0%;
    border: 0ch;

    font-family: 'starwars', sans-serif;
    color: rgb(223, 5, 5);
}

body{
    background-color: rgb(10, 10, 10);
}

.background{

    background-image:url(images/darth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 35px;
    font-size: 30px;

}

.description{
    font-size: 30px;
    width: 600px;
    position: relative; top: -70px;
    
}

.header-info{
    display: flex;
    gap: 20px;
    list-style: none;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 85px;

}

.intro-bod{
    
    display: flex;
    justify-content: center;
}

#name{
    color: transparent;
    -webkit-text-stroke: 2px rgb(223, 5, 5);
    position: relative; top: -50px;
}

.logo-body{
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.logos{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 40px;
    background-color: rgb(65, 63, 63);

}

.css-logo{

}

.html-logo{
    
}
