@font-face {
    font-family: 'starwars';
    src: url(Heading-Pro-Bold-trial.ttf);
}

@font-face {
    font-family: 'starwars-';
    src: url(stjedise/STJEDISE.TTF);
}

*{
    padding: 0%;
    margin: 0%;
    border: 0ch;
    font-family: 'starwars', sans-serif;
}

body{
    background-color: rgb(10, 10, 10);
}

.background{

    background-image:url(images/darth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 35px;
    font-size: 30px;
    color: rgb(223, 5, 5)

}

.description{
    font-size: 30px;
    width: 600px;
    position: relative; top: -70px;
    color: rgb(223, 5, 5)
    
}

.header-info{
    display: flex;
    gap: 20px;
    list-style: none;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 85px;
    color: rgb(223, 5, 5)

}

.intro-bod{
    
    display: flex;
    justify-content: center;
}

#name{
    color: transparent;
    -webkit-text-stroke: 2px rgb(223, 5, 5);
    position: relative; top: -50px;
}



.logos{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 40px;
    background-color: rgb(65, 63, 63);

}

.about-heading{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 50px;
    color: rgb(223, 5, 5)
}

.about-description{
    display: flex;
    justify-content: center;
    padding: 5%;
    justify-content: space-between;
    font-size: 25px;
    gap: 28px;
    color: rgb(223, 5, 5)
}

.left-side-box{
    width: 50%;
    padding: 1%;
    border: 10px solid rgb(65, 65, 65);
    border-radius: 25px;
}

.right-side-box{
    width: 50%;
    padding: 1%;
    border: 10px solid rgb(65, 65, 65);
    border-radius: 25px;
}

*.projects-header{
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    color: black;
}

